/* Estilos generales */
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.header-container {
  background-color: #007bff;
  color: #fff;
  padding: 20px;
  text-align: center;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-container h1 {
  margin: 0;
  padding-top: 2rem;
}

.header-container nav {
  display: flex;
  align-items: center;
  padding-right: 4rem;
}

.header-container nav button {
  background-color: #fff;
  color: #007bff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
  margin-left: 10px;
}

.header-container nav button:hover {
  background-color: #e0e0e0;
}

.logo-container {
  display: flex;
  align-items: center;
}

.logo {
  max-width: 100px;
  height: auto;
  border-radius: 50%;
}

nav span {
  display: inline-block;
  margin-left: 20px;
  font-size: 18px;
}

main {
  padding: 20px;
  margin-top: 100px; /* Ajustar para dejar espacio para el header fijo */
  flex: 1;
  display: flex;
}

.sidebar {
  background-color: #343a40;
  color: #fff;
  padding: 20px;
  padding-top: 2.5rem;
  width: 250px;
  position: fixed;
  top: 9rem; /* Ajustar para dejar espacio para el header fijo */
  bottom: 0;
  left: 0;
  overflow-y: auto;
}

.sidebar input,
.sidebar select,
.sidebar button {
  width: 100%;
  padding: 10px 5px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.sidebar button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.sidebar button:hover {
  background-color: #0056b3;
}

.content {
  margin-left: 270px; /* Ajustar para dejar espacio para la sidebar */
  flex: 1;
  padding: 20px;
}

.product-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas */
  gap: 20px; /* Ajusta este valor para cambiar la separación entre las tarjetas */
}

.product-item {
  background-color: #fff;
  padding: 0;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 100%; /* Ajusta este valor para cambiar el ancho de las tarjetas */
  box-sizing: border-box;
  margin-top: 3rem;
}

.product-card {
  display: flex;
  align-items: center;
  padding: 15px;
}

.product-image-container {
  flex: 0 0 auto;
  margin-right: 20px;
}

.product-image-container img {
  max-width: 300px; /* Ajusta este valor para cambiar el tamaño de la imagen */
  border-radius: 5px;
}

.product-details {
  flex: 1;
  text-align: left;
}

.product-specs {
  text-align: left;
  margin-top: 1rem; /* Ajusta este valor para bajar más el texto */
  background-color: rgba(0, 0, 0, 0.7);
  color: #fff;
  padding: 10px;
  border-radius: 5px;
}

.product-actions {
  margin-top: 1rem;
  display: flex;
  justify-content: flex-end; /* Mueve los botones a la derecha */
}

.product-actions button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 15px 20px; /* Aumenta el tamaño de los botones */
  cursor: pointer;
  border-radius: 5px;
  margin-left: 10px; /* Ajusta este valor para cambiar la separación entre los botones */
  display: flex;
  align-items: center;
  font-size: 1rem; /* Aumenta el tamaño del texto */
}

.product-actions button i {
  margin-right: 5px; /* Espacio entre el icono y el texto */
}

.product-actions button:hover {
  background-color: #0056b3;
}

.cart-item {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  padding-top: 6rem;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.cart-product-image-container img {
  max-width: 100px;
  margin-right: 20px;
}

.cart-product-details {
  flex: 1;
}

.cart-product-details h3 {
  margin: 0;
  font-size: 1.2rem;
}

.cart-product-details p {
  margin: 5px 0;
}

.cart-product-details button {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 0.9rem;
}

.cart-product-details button:hover {
  background-color: #c82333;
}

.cart-actions {
  text-align: right;
  margin-top: 20px;
}

.cart-actions button {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 1rem;
}

.cart-actions button:hover {
  background-color: #218838;
}

.total-cost {
  text-align: right;
  font-size: 1.5rem;
  margin-top: 20px;
}

.empty-cart-message {
  text-align: center;
  font-size: 2rem;
  color: #ff0000;
  margin-top: 50px;
}

.cart-count {
  background-color: #dc3545;
  color: #fff;
  border-radius: 50%;
  padding: 5px 10px;
  font-size: 0.9rem;
  margin-left: 10px;
}
