body {
  font-family: "Arial", sans-serif;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.login-container {
  background-color: #fff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 400px;
  box-sizing: border-box;
  text-align: center;
  transition: box-shadow 0.3s ease-in-out;
}

.login-container:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.login-container h1 {
  margin-bottom: 25px;
  font-size: 24px;
  color: #333;
}

.login-container label {
  display: block;
  margin-bottom: 5px;
  text-align: left;
  font-weight: bold;
  color: #666;
}

.login-container input[type="text"],
.login-container input[type="password"] {
  width: 100%;
  padding: 12px 15px;
  margin: 10px 0 20px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  transition: border-color 0.3s ease-in-out;
}

.login-container input[type="text"]:focus,
.login-container input[type="password"]:focus {
  border-color: #007bff;
  outline: none;
}

.login-container button {
  width: 100%;
  padding: 12px 20px;
  border: none;
  border-radius: 5px;
  background-color: #007bff;
  color: white;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease-in-out;
}

.login-container button:hover {
  background-color: #0056b3;
}

.login-container .forgot-password {
  margin-top: 15px;
}

.login-container .forgot-password a {
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}

.login-container .forgot-password a:hover {
  color: #0056b3;
}
